.App {
  text-align: center;
}

html, body {
  background: linear-gradient(orange, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

#smaller-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.album-card {
  border: 1px black solid;
  grid-column: 1fr;
  padding: 10px;
  background-color: white;
  margin: 10px;
}
